.calendarContainer{
  
    max-width: 900px;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
  border-radius: 3px;
  background: none;

  
  
}
.react-calendar {
   
    max-width: 100%;
    height: 100%;
    background: rgb(243, 237, 224);
   border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
  }
  .react-calendar--doubleView {
    width: 700px;
  }
  .react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
  }
  .react-calendar--doubleView .react-calendar__viewContainer > * {
    width: 50%;
    margin: 0.5em;
  }
  .react-calendar,
  .react-calendar *,
  .react-calendar *:before,
  .react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .react-calendar button {
    margin: 0;
    border: 2px solid rgb(192, 230, 192);
    outline: none;
    background: #8fd57d;
    padding: 5px;
    border-radius: 5px;
  }
  .react-calendar button:enabled:hover {
    cursor: pointer;
  }
  .react-calendar__navigation {
    display: flex;
    height: 60px;
    font-weight: 800px;
    background: black;
    border-radius: 5px;
   

  }
  .react-calendar__navigation button {
    min-width: 80px;
    background: none;
    color: white;
    border: 0 !important;
    border-radius: 5px;
    background: black;
  }
  .react-calendar__navigation__label{
    font-weight: bold;
    color: white;
  }
  .react-calendar__navigation button:disabled {
    background-color: #a1a2a3;
  }
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    background-color: #f0781c;
  }
  .react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75em;
    background: #901a14;
    color: white;
    list-style: none;
    text-decoration:none !important;
  }
  .react-calendar__month-view__weekdays__weekday {
    padding: 1em;
  }
  abbr[title]{
    text-decoration: none !important;
  }
  .react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    font-weight: bold;

  }
  .react-calendar__month-view__days__day--weekend {
    
    background: rgb(206, 172, 172) !important;
    cursor: not-allowed !important;
  }
  .react-calendar__month-view__days__day--neighboringMonth {
    color: #757575;
    background: #a1a2a3 !important;
    opacity: 0.8;
  ;
    
  }
  .react-calendar__year-view .react-calendar__tile,
  .react-calendar__decade-view .react-calendar__tile,
  .react-calendar__century-view .react-calendar__tile {
    padding: 0.5em 0.5em;
  }
  .react-calendar__tile {
    max-width: 100%;
    padding: 10px 6.6667px;
    background: rgb(224, 212, 241);
    text-align: center;
    line-height: 35px;
  }
  .react-calendar__tile:disabled {
    background-color: #a3a1a1;
  }
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background-color: #e6e6e6;
  }
  .react-calendar__tile--now {
    background: #82a6d5 !important;
  }
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    background: #a37f85;
  }
  .react-calendar__tile--hasActive {
    background: #a37f85;
  }
  .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--hasActive:enabled:focus {
    background: #a9d4ff;
  }
  .react-calendar__tile--active {
    background: #da67f1;
    color: white;
  }
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: #a37f85;
  }
  .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
  }
  .calendar-fluid{
    height: 100vh;
    display:flex;
    flex-direction: column;
  }
  .calendarContainer{
     margin-top: 65px ;
  }

  .nav-items{
    margin-right: 1rem;
  }
  .legend-contents{
    display: flex !important;
    flex-direction: column !important;
    text-align: start;
    margin-bottom: 2rem;

    
  }
  

  

  
  

  